[2018-09-25 06:37] daniele-pecora commented on #223
To distuigish between standard and nxg-schema-form related properties ngx-schema-form does now provide a json schema (came with #241).

Bit apart from that:
what about moving all non standard properties into the `widget` property?

[2018-09-25 06:46] ebrehault commented on #223
Even if, semantically, all our non standard properties are not all about the widget, I guess it could be nice.

[2018-09-30 20:28] #206 closed

[2018-09-30 20:28] #235 closed

[2018-10-01 15:41] petreionescu opened #245 "update required array based on checkbox status"
Hello,
I want to update the required array on a json schema based on the status of a checkbox after the form has been rendered. Is there any way to do this ? haven't been able to do so by updating the [schema] object, validations don't seem to work the formModel doesn't get updated.

Thank you!

[2018-10-02 12:19] gpessa commented on #214
same here, If I fix it I get other deps missing

[2018-10-04 06:36] EricsG95 commented on #203
Same here, I was following the readme on custom validation but it doesn't wrok correctly. It looks like the guide is missing some details. Please update, greatly appreciate it.

[2018-10-10 06:57] flecce opened #248 "Custom widget is not binded to schema model"
Hi,

I tried to create a new custom widget. The widget works but when I read the schema form model value, my widget value is not present.

Anyone has same problem?
Thanks in advance

[2018-10-10 07:07] ebrehault commented on #248
You need to declare it in a registry:

[code]
then in your module, provide this registry and declare your widget entryComponent:
[code]

[2018-10-10 07:11] flecce commented on #248
Yes I did.
The widget is rendered and works as I expected. But the schema model is not binded.

[2018-10-10 08:00] ebrehault commented on #248
could you paste your widget implementation in a [gist](https://gist.github.com/) so I can have a look?

[2018-10-10 08:38] ebrehault commented on #248
I think you are overloading StringWidget on a bad way. As you just want to replace the html template, the TypeScript implementation must be just:
[code]

By declaring `formProperty;`, I am not sure but I think it will be considered as a `any`, while it should be a `FormControl`.
Just remove all those useless declarations, so you do not pollute the base class behavior.
And if you need to overload o

[2018-10-10 08:42] flecce commented on #248
If I remove the useless declaration the compiler returns this message:

ERROR in shared/widgets/text-widget/text-widget.component.ts(9,14): error TS2720: Class 'TextWidgetComponent' incorrectly implements class 'StringWidget'. Did you mean to extend 'StringWidget' and inherit its members as a subclass?
  Property 'getInputType' is missing in type 'TextWidgetComponent'.

[2018-10-10 08:45] ebrehault commented on #248
oh sorry I missed the most important!
You should not implement StringWidget, you must extend it:

[code]

[2018-10-10 08:48] flecce commented on #248
Now it works!
Thanks

[2018-10-10 08:49] ebrehault commented on #248
You're welcome :)

[2018-10-10 08:49] #248 closed

[2018-10-12 15:40] AthanSoulis commented on #232
This has been noted before without response #203

[2018-10-22 06:57] EricsG95 opened #249 "Property bindings first value is null"
I really like this custom property bindings, however I find that if it is used on 'select' component, there is a delay. On the first element that is being selected always null, only on the next value will be visible and what is being emited is actually the first value selected.

**Such as first event fires null, supposedly 1
And second event fires 1, supposedly 2.**

I have reproduced the issues o

[2018-10-22 07:10] EricsG95 opened #250 "Custom bindings emit wrong first value"
I really like this new function introduced and really excited about it, however I am encountering some issues. The first value emitted by property binding is wrong when it is used with a select widget, instead of regular string widget.

Supposedly:
The first value should be 1, null is emitted.
Then should follow by 2, but 1 is emitted.
Thus results in delay.

I have reproduced the issues in the fo

[2018-10-22 07:16] EricsG95 opened #251 "Custom bindings emit wrong first value"
I really like this feature, but have some issues. However shoutout to the author, great job man. Custom bindings emit wrong first value

Supposedly,
The first value should be 1, null is emiteed,
And should be 2, but 1 is emitted
There is a delay in the value being emitted.

It happens when I am using the custom bindings on the select widget, not the ordinary string widget.

I have reproduced the i

[2018-10-22 07:17] EricsG95 opened #252 "Custom bindings emit wrong first value"
I really like this feature, but have some issues. However shoutout to the author, great job man. Custom bindings emit wrong first value

Supposedly,
The first value should be 1, null is emiteed,
And should be 2, but 1 is emitted
There is a delay in the value being emitted.

It happens when I am using the custom bindings on the select widget, not the ordinary string widget.

I have reproduced the i

[2018-10-22 07:19] EricsG95 opened #253 "Custom bindings emit wrong first value"
I really like this feature, but have some issues. However shoutout to the author, great job man. Custom bindings emit wrong first value

Supposedly,
The first value should be 1, null is emiteed,
And should be 2, but 1 is emitted
There is a delay in the value being emitted.

It happens when I am using the custom bindings on the select widget, not the ordinary string widget.

I have reproduced the i

[2018-10-22 07:20] EricsG95 opened #254 "Custom bindings emit wrong first value"
I really like this feature, but have some issues. However shoutout to the author, great job man. Custom bindings emit wrong first value

Supposedly,
The first value should be 1, null is emiteed,
And should be 2, but 1 is emitted
There is a delay in the value being emitted.

It happens when I am using the custom bindings on the select widget, not the ordinary string widget.

I have reproduced the i

[2018-10-22 07:22] EricsG95 opened #255 "Custom bindings emit wrong first value"
I really like this feature, but have some issues. However shoutout to the author, great job man. Custom bindings emit wrong first value

Supposedly,
The first value should be 1, null is emiteed,
And should be 2, but 1 is emitted
There is a delay in the value being emitted.

It happens when I am using the custom bindings on the select widget, not the ordinary string widget.

I have reproduced the i

[2018-10-22 07:25] EricsG95 opened #256 "Custom bindings emit wrong first value"
I really like this feature, but have some issues. However shoutout to the author, great job man. Custom bindings emit wrong first value

Supposedly,
The first value should be 1, null is emiteed,
And should be 2, but 1 is emitted
There is a delay in the value being emitted.

It happens when I am using the custom bindings on the select widget, not the ordinary string widget.

I have reproduced the i

[2018-10-22 07:56] ebrehault commented on #249
ok that's a bad one :)

@daniele-pecora, can you have a look whenever you have time?

[2018-10-22 12:19] #250 closed

[2018-10-22 12:19] #251 closed

[2018-10-22 12:20] #252 closed

[2018-10-22 12:20] #253 closed

[2018-10-22 12:20] #254 closed

[2018-10-22 12:20] #255 closed

[2018-10-22 12:20] #256 closed

[2018-10-23 20:57] daniele-pecora commented on #249
Ok, I think to know what is meant

<img width="334" alt="null-first-value" src="https://user-images.githubusercontent.com/2026072/47390064-baeac300-d716-11e8-8dd8-201c3c126918.png">

I post here the editor version of the [Reproducing app link](https://stackblitz.com/edit/ngx-schema-playground)

[2018-10-23 21:06] daniele-pecora commented on #249
For select elements you simply should use the `change` event instead of `input`.

[code]

Try this out: https://stackblitz.com/edit/ngx-schema-playground-givbsn

[2018-10-24 10:59] EricsG95 commented on #249
Wow I see, thank you so much for your fast response. Is there anyway I can know what events are supported in property bindings. I really like this feature and find it very applicable to what I am working on now. Thank you so much for your hard work!

[2018-10-24 19:45] daniele-pecora commented on #249
Any event you set in your `bindings` object will be passed to the `ElementRef`.
If it is supported by the view component it will be triggered.

[2018-10-25 03:54] #249 closed

[2018-10-26 09:38] EricsG95 commented on #250
Duplicated issues in [property bindings first value is null](https://github.com/guillotinaweb/ngx-schema-form/issues/249)

[2018-10-26 09:39] EricsG95 commented on #251
Duplicated issue in [property bindings first value is null](https://github.com/guillotinaweb/ngx-schema-form/issues/249)

[2018-10-26 09:39] EricsG95 commented on #252
Duplicated issue in [property bindings first value is null](https://github.com/guillotinaweb/ngx-schema-form/issues/249)

[2018-10-26 09:39] EricsG95 commented on #253
Duplicated issue in [property bindings first value is null](https://github.com/guillotinaweb/ngx-schema-form/issues/249)

[2018-10-26 09:39] EricsG95 commented on #254
Duplicated issue in [property bindings first value is null](https://github.com/guillotinaweb/ngx-schema-form/issues/249)

[2018-10-26 09:39] EricsG95 commented on #255
Duplicated issue in [property bindings first value is null](https://github.com/guillotinaweb/ngx-schema-form/issues/249)

[2018-10-26 09:39] EricsG95 commented on #256
Duplicated issue in [property bindings first value is null](https://github.com/guillotinaweb/ngx-schema-form/issues/249)

[2018-10-26 17:22] jackrvaughan opened #257 "Angular Pipe for Input Display"
I'd like to create a custom currency widget that displays commas with the Angular [DecimalPipe](https://angular.io/api/common/DecimalPipe), simple as this:

_1,000,000_

The [IntegerWidget](https://angular.io/api/common/DecimalPipe), which I'm trying to extend, does not have an [(ngModel)] to bind to in the template:

**IntegerWidget Template**
[code]

I tried to add something like this `[value] =

[2018-10-26 18:46] ebrehault commented on #257
I think `[value]="control.value | number:'4.1-2'"` should work, but make sure to remove `[attr.type]="'number'"` because it will raise a browser error.

[2018-10-26 20:33] jackrvaughan commented on #257
Thanks @ebrehault, that works for adding the pipe!

Unfortunately, I can't remove the type number as I need to use the step functionality. I guess that's a limitation of the angular pipe though, not ngx-schema-form.

For now I'm just displaying the formatted number alongside the label:

[code]

Would be great to have an easy way of formatting the number input with commas, etc.

[2018-10-26 20:33] #257 closed

[2018-10-27 09:08] ebrehault commented on #257
It is not an Angular limitation, it is just HTLM5 number type refusing non strict number value.
Maybe you can use a regular text type input and reimplement the step functionnality by yourself…

[2018-11-01 04:12] FathyV opened #258 "Question: How to use Visible If with Array type"
For example, I'm having an array contains some input fields. Now I want to add an new input fields outside the array and want  it to be display only when specific fields of the array has data. To make it works, I tried to use the `visibleIf` but I didn't success on making it show hide the new input fields properly. Is there away to achieve it? Am I using the wrong syntax or something?
Here is the

[2018-11-02 07:13] daniele-pecora commented on #232
This is how you could get the value of `password`

[code]

but it may also be that `values` is a reference to the `model` object.

Idk

[2018-11-04 07:07] htmoia commented on #214
Same with
[code]

`Error: Cannot find module "z-schema" ngx-schema-form.js:1 `

[2018-11-04 09:34] ebrehault commented on #214
Just make sure you have the same deps as here: https://github.com/guillotinaweb/ngx-schema-form/blob/master/package.json#L15 and it will run fine (that's how Travis is doing its install at the moment and the build is successful).

[2018-11-12 14:27] akloeber opened #260 "Unused resp. overly specific peer dependencies"
We migrated from angular2-schema-form to ngx-schema-form in order to get rid of peer dependency warnings under Angular 6.

Nevertheless there are still remaining warnings which suggest that the list of peer dependencies is not up-to-date.

The following `peerDependencies` are listed but they are not used/imported in the entire module:
[code]

Moreover the following `peerDependencies` have a __spec

[2018-11-12 15:21] ebrehault commented on #260
Correct. I am currently upgrading to ng7, so let me fix that at the same time.
Thanks!

[2018-11-12 15:30] akloeber commented on #260
@ebrehault I already prepared a PR.

[2018-11-12 15:31] ebrehault commented on #260
Cool thanks! (and merged by the way)

[2018-11-12 15:52] akloeber opened #262 "Types missing in public API after migration to `ngx-schema-form`"
After upgrating from `angular2-schema-form` to `ngx-schema-form` some types/classes are missing in the public API.

`Widget<T extends FormProperty>` is part of the public API but `FormProperty` needs to be imported like this:

[code]
instead of
[code]

The same goes for `ArrayProperty` which we use for defining our own `class ArrayAdapterComponent extends Widget<ArrayProperty>`

Furthermore we are

[2018-11-12 15:53] ebrehault commented on #262
oh, I was not aware, that's pretty bad indeed

[2018-11-14 13:02] #262 closed

[2018-11-14 17:08] akloeber commented on #260
@ebrehault In release 2.3.0 `body-parser` is a `peerDependency` again. Was that a mistake or is there any reason?

[2018-11-14 17:13] akloeber commented on #260
@ebrehault Is ngx-schema-form no more compatibility with Angular 6? We are still on v6 and want to wait until v7 has matured as we had problems with early adoption of new Angular versions in the past.
If it is compatible with both major versions of angular maybe a version range for the peerDependencies would be better, e.g. `"@angular/animations": ">=6 <=7"`.

[2018-11-14 18:06] ebrehault commented on #260
complete mistake… sorry!

it is compliant (I have made no change in the implementation to support ng 7), so yes let's fix the package.json

[2018-11-14 18:13] #260 closed

[2018-11-15 13:44] JohannesRudolph opened #263 "Keyword 'required' is expected to be of type 'array'"
After upgrading to 2.3.0 we see the following error for one of our schemas:

[code]

I think this may come from the following change: https://github.com/guillotinaweb/ngx-schema-form/commit/7f254f1eb96261e1c2325f017eb15c99f506d2cd
 where the schame preprocessor adds an apparently invalid `.required`  `jsonSchema.properties[fieldId].required = true` to my schema object. This causes a "schema valida

[2018-11-22 13:25] ccordenier opened #264 "Compare with current before updating atomic property."
https://github.com/guillotinaweb/ngx-schema-form/blob/128c4f131a73679d6cacf8fed5f22d9e0d1fc8f5/projects/schema-form/src/lib/model/atomicproperty.ts#L6

Does it make sense to compare the input value with the current atomic value before triggering any event or propagate change to upper levels ?

[2018-11-26 09:20] Alexandru-Pirvu commented on #199
When the user updates the model, the form creates a new model object with only the properties that have a value. So the part when checking if the property has value seems correct (a fallback value means there is no option selected). The new object is then assigned to the model using Object.assign which does not delete the missing properties from the current model.

In conclusion, this seems to be

[2018-11-26 15:36] tobiasweiss93 opened #265 "SchemaPreprocessor error handling"
It would be great to integrate a form field which shows json schema error messages.
For example if the json schema was defined as follow:

                  "test": {
                    "type": "array"
                  }

Then it would be thrown a parsing error because the json schema is invalid: `Parsing error on /test/: No 'items' property in array`.

[2018-12-05 13:46] dmcdaniel12 commented on #263
@JohannesRudolph We are seeing a very similar issue as well

[2018-12-08 13:12] daniele-pecora opened #267 "Specification SchemaValidatorFactory to re-initialize SchemaValidator"
I request to extend the specification of the `SchemaValidatorFactory` with a method to re-initialize the underlying schema validator.

Here is why:
What I'm trying to achieve is to being able to have a dropdown
with option items that are loaded lazily via ajax.

So the schema at the beginning looks like this ...
[code]
... then the form gets created and the schema validator runs for the first time

[2018-12-10 17:49] daniele-pecora commented on #267
This has been realized in #268

[2018-12-10 17:49] #267 closed

[2018-12-11 23:42] sammaphey opened #270 "Custom widget is not binding to schema model"
Related to #248, I seem to be running into the same problem though I am not sure what I could be doing wrong.

Relevant files:
`image-widget.ts`
[code]

`image-widget.component.html`
[code]

`widget-registry.ts`
[code]

Relevant schema:
[code]

The widget shows as expected but when I edit the field for image it never saves to the schema

[2018-12-13 15:04] #263 closed

[2018-12-13 17:58] tjchambers32 commented on #270
I think in your template file it should be

`<div>
    <div class="col-md-8">
        <input class="form-control" [formControl]="control" [name]="name" placeholder="Enter uri..." />
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary" (click)="selectFile()">Select file</button>
    </div>
</div>
`

Then in your app.module.ts you'll also need to import the ReactiveFormsModu

[2018-12-13 18:58] sammaphey commented on #270
Thank you travis!

[2018-12-13 18:58] #270 closed

[2018-12-13 21:15] daniele-pecora commented on #258
You are able to set a visibility binding path like
[code]
where `peoples` is you array and `0` points to the position of the items and `name` is a property of the array item at position 0.

## now the bad news
Although **ngx-schema-form** totally understands a path like this,
the binding is processed at the target form-property at a time
where the array items are not yet known to the
binding funct

[2018-12-13 22:36] daniele-pecora commented on #245
You can do this by using "Custom Bindings" (head over to README.MD).
Example on stackblitz:
https://stackblitz.com/edit/schema-form-primeng-update-required-state

[2018-12-13 22:41] daniele-pecora commented on #234
May this comment will enlighten some aspects of how `visibleIf` works:
https://github.com/guillotinaweb/ngx-schema-form/issues/258#issuecomment-447123278

[2018-12-17 00:05] enavarro222 commented on #263
I'll really appreciate if you can release a new version with this fix !

The last version 2.3 is unusable for me without this fix, however I strongly need this new version (especially for the class FormPropertyFactory and FormProperty exposed in public API).

Thanks for all your great job on this library !

[2018-12-17 13:51] ebrehault commented on #263
Done in version 2.3.2

[2018-12-17 14:41] enavarro222 commented on #263
@ebrehault thanks a lot !

[2018-12-19 18:14] NicCOConnor opened #272 "Dynamic object properties"
I'm wondering if there is a way to support dynamic objects as properties. I not need this to conform to any standard widgets.

It seems to me the the keys in an object type need to be defined in the the schema ahead of time. This poses a problem when it comes to dynamic objects. I have a property which is a nested object called `extra_config` it is essentially a key value pair represented as an ob

[2019-01-06 13:12] daniele-pecora commented on #258
## an idea

I discovered that when a form-property is created its visibility-binding is processed immediately.
So this assures that the visibility of the new created form-property is set right,
but it misses to check if any other form-property visibility depends on this new form-property value.

To being able to update the visibility-binding of other form-property it requires an instance that is a

[2019-01-07 19:53] ShacharSharon commented on #197
I'm having the same issue, @skorunka did you find any workarounds?

[2019-01-09 12:31] daniele-pecora commented on #272
It may help calling `reset(...)` after adding new items to the schema.

Could you create an example on https://stackblitz.com/

[2019-01-09 13:10] zaissat commented on #183
@abhishekgoenka Did you find the solution? i have the same problem.

[2019-01-11 01:07] abhishekgoenka commented on #183
No. I dropped ngx-schema-form from our project.

[2019-01-14 16:19] sammaphey opened #274 "Mocking FormProperty"
I am attempting to test a custom widget and am running into problems regarding the formProperty.

-- component:
[code]

-- spec
[code]

-- error:
`TypeError: Cannot read property 'value' of undefined`

I believe that the error is coming from the components formProperty not being defined. I have attempted to mock it but FormProperty is an abstract class so I cannot do that.

Any suggestions?

[2019-01-31 14:00] ammoti opened #276 "sf form ignore label inside form"
Hi,
I am trying the put some control inside the form but sf-form ignoring that controls and it only generate the sf-field, is there any possible way that making it through?

[2019-02-05 10:20] WhileTrueEndWhile commented on #276
Please create an example schema which can be used in the [demo](http://guillotina.io/ngx-schema-form/dist/ngx-schema-form/json). Meanwhile loading via URL works again. So you can create a GIST and bind it to the demo URL.

Without that effort, it's hard to help you. Possibly the current version is broken or you have simply misspelled "description" ;-)

[2019-02-05 21:00] WhileTrueEndWhile commented on #223
**Thank you very much for the great work!**

I have two more additions:
https://github.com/guillotinaweb/ngx-schema-form/compare/master...WhileTrueEndWhile:master#files_bucket

*formelement.component.ts*: With your own widget registry, setting the validation state CSS classes at this level is more than superfluous. In order not to break legacy code, it would be useful to define an optional propert

[2019-02-22 17:28] jpeterson88 commented on #74
I've been trying to achieve this through a custom widget and for whatever reason it's not being picked up:

`@Component({
  selector: 'sf-button-widget',
  template: '<button class="btn btn-outline-primary">DERP</button>'
})
export class NgxButtonComponent extends ButtonWidget { }

export class CustomButtonWidgetRegistry extends DefaultWidgetRegistry {
  constructor() {
    super();

    this.regi

[2019-02-22 17:40] ebrehault commented on #74
Did you add your component in your module entryComponents?

[code]

[2019-02-22 17:53] jpeterson88 commented on #74
@ebrehault yes I did, also to declarations:

`  declarations: [AppComponent, MockEditComponent, NgxButtonComponent],
  entryComponents: [NgxButtonComponent],`

[2019-02-22 18:00] ebrehault commented on #74
I do not see what's wrong in your code.
Here is a working implementation: https://github.com/guillotinaweb/nsf-pastanaga/blob/master/projects/pastanaga/src/lib/registry.ts#L37

Try to compare with yours to find the missing thing.

[2019-02-22 18:01] jpeterson88 commented on #74
Thanks @ebrehault  i'll have a look at this code, compare notes and report back

[2019-02-22 18:15] jpeterson88 commented on #74
It looks like I'm doing everything this repo is doing. I do not have a separate component and bundled it all into AppComponent. Have a look: [NGX Schema Form Test](https://github.com/jpeterson88/ng-dynamic-form/tree/master/src)

[2019-02-22 18:21] jpeterson88 commented on #74
After reviewing that repo more thoroughly, I have a question...if I override the button, will that actually override the button that's in the array, or do i have to override the entire array Item? I'm currently just overriding the button widget and expecting the add / remove in the "array" widget to be updated

[2019-02-22 18:23] ebrehault commented on #74
No `ButtonWidget` is only used for the form actions.
`ArrayWidget` does use this component (it uses a basic HTML button), so if you want to change that button, you need to override `ArrayWidget`.

[2019-02-22 18:24] jpeterson88 commented on #74
That explains what I'm doing. Thank you!

[2019-02-26 20:45] jpeterson88 commented on #191
Any traction on this? I could use this feature.

[2019-02-26 22:01] jpeterson88 commented on #191
I'm currently in need of this for our client. We've got a 2 way binding going on but all nested objects aren't copied over. I tried to use onChange and just overwrite with a deep copy, but I can't seem to get it to work properly. Any suggested workarounds?

[2019-02-26 23:00] jpeterson88 commented on #191
Pulled the latest master branch down and am running locally. I see the same issue with your code / examples. The "Custom bindings" and "Other Schema" examples both have arrays of objects in the .json sample data and they're defined in the schema, yet they are not copying over. Looking to get this corrected and or help with this issue. Thanks

[2019-02-27 07:00] ebrehault commented on #191
@jpeterson88 I have just made a simple fix for that in https://github.com/guillotinaweb/ngx-schema-form/tree/issue-191, the tests are green, but I would appreciate if you could check out this branch locally and try it out in your use case specifically before we merge it.

Thanks.

[2019-02-27 16:35] jpeterson88 commented on #191
Hey @ebrehault thanks so much for quickly taking a look into this. I pulled the branch down and am still seeing the same issue. Here's the scenario I'm running, when I run the app locally, the first page to load is http://localhost:4400/json. This page has "Sample 4 - Visibility Binding" loaded. If change the dropdown to point to "Sample 1 - General", I expect the column that has the "Model" json

[2019-02-27 20:13] jpeterson88 commented on #191
Okay, so I came across [issue 233](https://github.com/guillotinaweb/ngx-schema-form/issues/233). I simply changed [(model)] to [(ngModel)] and it seemed to have fixed my problem! When changing my models, everything appears to bind up appropriately :)

[2019-03-01 13:34] ebrehault commented on #191
you mean it works with the branch I did or on master?

[2019-03-01 23:20] jpeterson88 commented on #191
It did not work with the branch you created. I had to change my binding in order for it to work.

[2019-03-05 17:25] dragosheroiu95 commented on #227
@WhileTrueEndWhile can you explain better how to get the index?

[2019-03-05 21:41] jpeterson88 commented on #112
This still seems to be an issue. Can manually type it in, but when the values are populated from a model that is a decimal, it simply shows 0.

[2019-03-11 18:02] petreionescu opened #278 "is there support for required field in nested object ?"
Hello,
I can't seem to make the required array element in the schema work for nested objects.
example schema would be:
[code]

an i would like to have the familyName and forname as required fields in my form. Can you point me in the right direction?

[2019-03-14 12:16] Iquebal commented on #59
'sf-form' is not a known element getting issues in angular 7
![issues](https://user-images.githubusercontent.com/8733452/54356182-00396e00-4681-11e9-8aab-2b93aaf8cf03.PNG)

[2019-03-14 12:20] Iquebal commented on #59
Not working

[2019-03-24 19:20] daniele-pecora commented on #191
This is deeply related to the issue #233 .

We already resumed that the binding MUST be done with `[(ngModel)]` because of the buit-in emitter.
See also:
https://github.com/guillotinaweb/ngx-schema-form/issues/233#issuecomment-420704459

[2019-03-24 19:22] daniele-pecora commented on #233
Later answer but : YES 👍

[2019-04-13 14:36] daniele-pecora commented on #278
Could you provide an example on [Stackblitz](https://stackblitz.com/)?

[2019-04-18 06:06] Iquebal opened #279 "Add custom class to div"
Add custom class to div and add our own css style to any div.

[2019-04-25 12:38] fincha commented on #279
I am not really a contributor to this project, but issues like this will probably be closed soon. What is this? Help request, feature request or storry telling about your last code session?!

[2019-04-26 07:09] JianhuisHuang opened #280 "how to create customer widget without input"
how to create customer widget without input?example: ngx-cropper,etc.thanks

[2019-04-28 13:44] daniele-pecora commented on #280
**Layout widget**
To create a custom widget without any value binding you have tp create a so called "Layout widget".
This can be simply done by extending `ObjectLayoutWidget`.
Head over to this [Stackblitz example](https://stackblitz.com/edit/ngx-schema-form-customs) and take a look at the widget "**paragraph**".
The widget "paragraph" does only render an HTML **<p>** tag.

[2019-04-28 13:51] daniele-pecora commented on #258
So this issuw shpuld be marked as solved

[2019-04-28 19:12] #258 closed

[2019-05-08 19:55] daniele-pecora commented on #9
This issue may be closed since it is related to angular2

[2019-05-08 19:57] daniele-pecora commented on #1
Is this still a thing?

[2019-05-08 20:04] daniele-pecora commented on #279
If providing a custom style and overriding the css selectors is not an option for you I would consider creating your own widget library.

For an example of creating a custom widget library head over to [this stackblitz example](https://stackblitz.com/edit/ngx-schema-form-customs)

[2019-05-08 20:10] daniele-pecora commented on #278
Following the json schema you must add the `required` property to the corresponding properties:

[code]

[2019-05-08 20:10] #278 closed

[2019-05-08 20:11] daniele-pecora commented on #280
Closing this, since above answer should be sufficient

[2019-05-08 20:11] #280 closed

[2019-05-08 20:11] #279 closed

[2019-05-08 20:46] daniele-pecora commented on #203
This should be the right example:
[code]

[2019-05-08 20:52] #203 closed

[2019-05-08 20:53] #232 closed

[2019-05-08 21:07] daniele-pecora commented on #97
... and Angular 7.
Case closed.

[2019-05-08 21:07] #97 closed

[2019-05-08 21:07] #9 closed

[2019-05-08 21:10] daniele-pecora commented on #33
Could you provide an example based on this [Stackblitz project](https://stackblitz.com/edit/ngx-schema-form-customs)?

[2019-05-09 06:09] ebrehault commented on #1
no it is not

[2019-05-09 06:09] #1 closed

[2019-05-09 06:31] JianhuisHuang opened #282 "have example for "Validation handled by z-schema "?"
have example for "Validation handled by z-schema "? @guillotinaweb thanks.

[2019-05-09 06:33] JianhuisHuang commented on #175
have example for "Validation handled by z-schema "? @daniele-pecora  thanks.

[2019-05-09 12:17] daniele-pecora commented on #282
Feel free to [fork this at Stackblitz](https://stackblitz.com/edit/ngx-schema-form-customs)

[2019-05-09 17:00] daniele-pecora commented on #230
Take a look at this example of a [custom UI Widget Library at Stackblitz](https://stackblitz.com/edit/ngx-schema-form-customs).

Can this be closed due to lack of activity?

[2019-05-09 17:03] daniele-pecora commented on #45
I'd like to reopen this since I do have plans to provide exactly this two libraries this year 2019.
So whish me luck that it wents well.

[2019-05-09 17:08] #45 closed

[2019-05-10 07:15] JianhuisHuang commented on #282
@daniele-pecora  thanks.I will try, if have any question I will @ you

[2019-05-11 09:12] JianhuisHuang commented on #282
Hi @daniele-pecora , that is no style for input when have error or require.  need to import any style files? Or must to write it myself by hand those error? like this png
![image](https://user-images.githubusercontent.com/46215903/57567702-e6fa3700-740f-11e9-883f-67cb7e79634c.png)

[2019-05-11 13:51] daniele-pecora commented on #282
Hi @JianhuisHuang,
since it is a custom ui widget you would handle the styles for the states `valid` and `invalid` by yourself.

Hint:
The `input` field gets some classes set by the angular control `ng-dirty` and `ng-invalid`.

<img width="1045" alt="validity-states" src="https://user-images.githubusercontent.com/2026072/57570645-99c49800-7404-11e9-98e0-b956231ef6be.png">

[2019-05-13 10:11] JianhuisHuang commented on #203
@daniele-pecora  where I can see the message "same as 'password" in html page if `passwordProperty.value !== undefined && property.valid && value !== passwordProperty.value` ? and  the formProperty  is undefined without declared? or may be as form ? like this png
![image](https://user-images.githubusercontent.com/46215903/57613794-5c9a0a80-75aa-11e9-92f9-282c79ac453c.png)
 thanks.

[2019-05-13 21:28] daniele-pecora commented on #203
Hi @JianhuisHuang ,
I just updated the [example at stackblitz](https://stackblitz.com/edit/ngx-schema-form-customs).
So there is now also an example with a custom validator using custom error messages.

<img width="1218" alt="Bildschirmfoto 2019-05-13 um 23 26 58" src="https://user-images.githubusercontent.com/2026072/57655488-a862a900-75d6-11e9-8bda-511f23f21c70.png">

[2019-05-13 22:36] daniele-pecora commented on #221
This would allow an even simpler approach to design select element.
So I requested a merge with that.

[2019-05-14 05:47] #221 closed

[2019-05-14 07:37] JianhuisHuang commented on #203
thanks @daniele-pecora it's work on customer widget but now works on the default widget and can you show me example for [Advanced validation](https://github.com/guillotinaweb/ngx-schema-form#advanced-validation)?
![image](https://user-images.githubusercontent.com/46215903/57679542-261dc780-765e-11e9-93be-39d8ff05b412.png)

[2019-05-14 07:45] JianhuisHuang commented on #282
thanks @daniele-pecora  it's works on custom widget but not work on default widget. And can you show me example for [Advanced validation](https://github.com/guillotinaweb/ngx-schema-form#advanced-validation) with default widget ?

[2019-05-14 09:58] daniele-pecora commented on #282
The [demo project at stackblitz.com](https://stackblitz.com/edit/ngx-schema-form-customs) now contains an example on [how to do advanced validation](https://stackblitz.com/edit/ngx-schema-form-customs?file=src%2Fapp%2Fmyform%2Fschema-form-validators.ts).

To make the message shown up with the built-in validation you must use an error-code that the schema validator does support.
Since the schema va

[2019-05-15 01:42] JianhuisHuang commented on #282
Hi @daniele-pecora  this demo works for me but must write widget myself, like this png
![image](https://user-images.githubusercontent.com/46215903/57742755-fff73680-76f4-11e9-86d4-353accabcb73.png)
And it's possible support to change default error message? example change message "xxxx" for the error code OBJECT_MISSING_REQUIRED_PROPERTY. Like this png
![image](https://user-images.githubusercontent

[2019-05-15 04:43] daniele-pecora commented on #282
It may be possible depending on which schema validator you do use.

In case of Z-Schema you may find your answer at [their github repo](https://github.com/zaggino/z-schema/blob/master/README.md).

In a similar case I had to provide an enhanced `SchemaValidatorFactory` to being able to change the behaviour of the json schema validator.

[code]

[2019-05-15 04:45] #282 closed

[2019-05-15 08:25] JianhuisHuang opened #284 "The Default widget's registry not works !"
I have followed [this](https://github.com/guillotinaweb/ngx-schema-form#default-widgets-registry) but default-widgets-registry not works like those pngs
![image](https://user-images.githubusercontent.com/46215903/57760276-cf7fbe80-772d-11e9-8ac2-b62ee2b5063e.png)
![image](https://user-images.githubusercontent.com/46215903/57760381-048c1100-772e-11e9-9f9c-444e773a174c.png)

[2019-05-15 10:52] JianhuisHuang commented on #141
is possible support without widget and as normal button ? like this png
![image](https://user-images.githubusercontent.com/46215903/57770279-85ed9e80-7742-11e9-87c4-4b3e7ba4de2c.png)

[2019-05-16 15:18] daniele-pecora commented on #284
Could you provide an example at https://stackblitz.com/ ?

[2019-05-16 15:51] daniele-pecora opened #285 "Using fixed ids"
**Path vs. Counter**

I came up with the idea of making the IDs rely on their path rather than an autoincrement number.
This is motivated in making the form more compliant for automated test recorder.
In my case Selenium IDE is used for automated test recording.
Unfortunately it relies a lot on HTML element IDs.

So since now have `_canonicalPath` (came with #275) it could be used as unique field

[2019-05-22 12:08] jackrvaughan commented on #257
Finally got around to implementing this, if anyone else is interested in a custom widget to accommodate a difference between the displayed control value and the actual form value:

[code]

[2019-05-31 13:58] Krelleum opened #286 "adding initial values to array"
Hello,
i am trying to initialize an array with data fetched from a server. I am able to add  fields manually by clicking the "add" button, but the initial values from the server are not displayed.

**SCHEMA:**

"properties": {

        "persons": {
            "type": "array",
            "title": "Personen",
            "index": "i",

               "items": {
                 "type": "object",

[2019-06-05 21:09] daniele-pecora commented on #286
Hi,
would you mind to provide an example based on this [stackblitz template](https://stackblitz.com/edit/ngx-schema-form-template?embed=1&file=src/app/myform/schema-form.json)?

[2019-06-10 17:11] cardioprint opened #287 "Select is not disabled in readOnly mode"
Hi guys.
First of all, many thanks for this awesome library!

There is a **bug**: select widget is not disabled by ```[disabled]``` property in readOnly mode.
Here is minimal [Stackblitz example](https://stackblitz.com/edit/angular-jtzsuy).

Possible solution:
replace ```[disabled]="schema.readOnly"``` with ```[attr.disabled]="schema.readOnly"```. It fixes the issue but I'm not sure how it could a

[2019-06-11 14:01] Amel92 opened #288 "JSON Schema validation"
Hello,

I need to show an attribute "Y" with an "visibleIf" after another one "X" is for example  >=400.  (X>=400)
How can i do it?

'X': {
              'type': 'number',
              'description': 'X ? :',
            },
            'Y': {
              'type': 'number',
              'description': 'Y ? : ',
              'visibleIf': {
                'X': {
                ????

[2019-06-13 22:26] jquince commented on #177
I understand it's easy enough to work around this with a custom component but why not fix it?

[2019-06-15 03:35] #98 closed

[2019-07-04 08:59] laxu opened #291 "Ngx-schema-form 2.3.4 causes Angular 8 build to fail"
With Ngx-schema-form 2.3.4 Angular 8 `ng build` seems to fail. You can replicate this by creating a new Angular app and adding ngx-schema-form to it. It gives errors like this:

[code]

[2019-07-04 09:02] ebrehault commented on #291
which version of Angular are you using?

[2019-07-04 09:03] laxu commented on #291
Sorry, forgot to add that. Angular 8. Package.json dependencies:

[code]

[2019-07-04 09:26] ebrehault commented on #291
That was due to a bad tsconfig.lib.json setting (see https://github.com/ng-packagr/ng-packagr/issues/1194)

It is fixed now in 2.3.5.
Thank you very much for reporting :)

[2019-07-04 09:26] #291 closed

[2019-07-04 09:32] laxu commented on #291
Thank you so much for such a fast response!

[2019-07-18 07:44] Jiehong commented on #274
One way to bypass this issue is to wrap your `this.formProperty` into a getter, and then using jasmine to intercept the call, and inject the mocked value (with something like `spyOn(myWidget, 'getFormProperty').and.returnValue(mockFormProperty as ArrayProperty);` for example)

[2019-07-20 07:14] daniele-pecora commented on #288
Currently only exavt value and `$ANY` are supported.

In consequence thus wpuld require to create up to 400 comparison statements in your `visibleIf` property.

I agree with you that an handling for most common expression like `<`,`<=`,`>`,`>=`, etc... would be usefull here.

Someone should make a feature request out of this issue.

[2019-07-22 09:33] 13776668267 opened #292 "no return field if value is empty"

[2019-07-22 10:21] Manmay opened #293 "How to hide add and remove button of array ?"
How to configure schema so that ADD and Remove buttons of an array can be hidden or disabled ? And does it support min and max length of an array ?

[2019-07-23 10:38] 13776668267 opened #294 "How to Re-render View on Schema Config Change? Can someone provide one example?thanks!"
I try to us

[2019-07-28 09:58] daniele-pecora commented on #288
I have taken action into this with commit b0ed5422aef63c276aada4af60c71a82ad76ff83

[2019-07-28 18:33] daniele-pecora commented on #294
Here you go:
In this [example at stackblitz](https://stackblitz.com/edit/ngx-schema-form-customs) you will find
a button `Re-render form` at buttom.

[2019-07-28 18:54] daniele-pecora commented on #292
I think this issue should be deleted as there are not enough information provided.
@ebrehault

[2019-07-29 06:07] ebrehault commented on #292
absolutely

[2019-07-29 06:07] #292 closed

[2019-07-29 06:08] #293 closed

[2019-07-29 17:22] Manmay commented on #293
Thanks

[2019-08-01 07:25] bloodbare commented on #272
I'm also having this problem on at plone/executioner where the schema of a field in a object is:

[code]

`schemaprocessor.ts` fails at processing and not finding a properties dict with the error:

[code]

related with: https://github.com/plone/executioner/issues/17

[2019-08-02 04:27] daniele-pecora commented on #272
The property `properties` is required for any json property of type `object`

[2019-08-02 09:58] bloodbare commented on #272
@daniele-pecora thanks

[2019-08-10 19:13] daniele-pecora commented on #287
Would you like to make a pull request to this?

[2019-08-25 23:22] #285 closed

[2019-09-01 19:06] daniele-pecora commented on #286
Ok, here I got you a fully working example of how array items can be added programmatically.
It provides not only an example for a simple and a complex array type but also for synchronous and asynchronous processing.

Example on Stackblitz: https://stackblitz.com/edit/ngx-schema-form-template-array-items

[2019-09-02 14:27] Azuka opened #304 "New release"
Thanks for such an awesome project: it's significantly cut down on the amount of boilerplate code I have to write.

If it isn't too much trouble, could you release a new version? I'm having trouble with the `visibleIf` fix resolved in #298

[2019-09-05 05:23] daniele-pecora commented on #304
@ebrehault Could you make a new release?

[2019-09-10 09:37] tqduy opened #305 "Angular 8: __evaluateVisibilityIf() cannot read the property 'indexOf' of NULL"
Hi everyone,
I am facing the issue when upgrading from angular **5.1.0** to **8**
I change from `angular2-schema-form` to `ngx-schema-form` and I face this issue when parsing the `VisibilityIf` condition at function `__evaluateVisibilityIf()`

![image](https://user-images.githubusercontent.com/11729162/64601330-f487f380-d3e6-11e9-94cd-feaa494542e6.png)

My `value` is not '' but null and cause the

[2019-09-11 04:58] daniele-pecora commented on #305
This is already fixed in #298

Duplicate #304
Waiting for a new release.
@ebrehault could you?

[2019-09-11 07:03] ebrehault commented on #305
Done

[2019-09-11 07:42] #305 closed

[2019-09-13 08:16] daniele-pecora commented on #304
is done

[2019-09-13 08:16] #304 closed

[2019-09-16 06:50] daniele-pecora opened #306 "Attribute DISABLED and READONLY"
The current default widget library does not set the attributes `disabled` and `readonly` consistently.
Both attributes are mapped to the schema property `readOnly`.
When `readonly` attribute is set the form does send the value
while when the `disabled` attribute is set the form doesn't send the value of the input/select (whatever) element.

The current mapping so far:

DISABLED
- checkbox
- file
-

[2019-09-16 07:57] royling opened #307 "top level reference is not supported"
Given the below schema:

[code]

The form can not be generated.

[2019-09-20 06:18] daniele-pecora opened #308 "[VisibileIf] - Array item siblings"
As with #275 we now use a registry for `visibleIf` bindings
there still is a circumstance where the visibility condition is not working.
One of this scenario is when you have a checkbox as property of a property of an array item,
and this checkbox has to trigger the visibility of a property in the same array item.

An example at [Stackblitz](https://stackblitz.com/edit/ngx-schema-form-template-vis

[2019-09-23 06:07] daniele-pecora commented on #308
### What I found out so far
When referencing from inside an array item currently only relative path do work.

e.g `container1/enabler` `enabler`

In the example inside `container2` :
**What does work** is a path like `container1/enabler`

**What doesn't work** is an absolute path like `/array/*/container1/enabler` or `/array/0/container1/enabler`

[2019-09-23 09:18] royling opened #309 "Is it by intentional to not export `ExpressionCompilerFactory`?"
`WidgetRegistry` and `SchemaValidatorFactory` are exported and thus can be customized by providing the custom implementations. However, `ExpressionCompilerFactory` is not...

Wondering whether it's by intentional or not.

[2019-09-25 13:04] royling commented on #309
In fact, I was not customizing it, I wanted to import `SchemaFormModule` in a lazy-loaded feature module, and didn't want to call `forRoot()` in the feature module. So I was trying to provide all services in `providers` of the feature module, and then realized `ExpressionCompilerFactory` is not exported in `public_api` as other services...

Good to know that this is not restricted and will see wha

[2019-10-10 08:06] tqduy opened #310 "ngx-schema-form does not support es5 (IE11)"
Hello everyone,
I am having an issue when using ngx-schema-form on Angular 8
My project does not work on IE11 browser, here is the error:
![image](https://user-images.githubusercontent.com/11729162/66550173-05a35c00-eb6f-11e9-8746-a9af64ecc4bd.png)

As I can see that the  The ngx-schema-form didn't support IE11, it works for ES6 only:
![image](https://user-images.githubusercontent.com/11729162/665

[2019-10-10 09:07] ebrehault commented on #310
Hi!

Sorry but we do not plan to invest time in supporting IE11.
Nevertheless if you want to give it a try, you can try to change the tsconfig target and see how it goes.

[2019-10-16 18:33] cardioprint commented on #287
Guys, could you please make a release? I would be very glad to have this fix in my project. Thanks in advance!

[2019-10-18 06:52] #310 closed

[2019-10-18 14:11] daniele-pecora commented on #287
You are right, a new PR wont solve this issue.

Please head over to https://github.com/guillotinaweb/ngx-schema-form/issues/306 to get an impression of the whole problem here.

I think we do really need the both states: `readOnly` and `disabled`.

[2019-10-18 19:31] daniele-pecora commented on #287
I digged a bit deeper and came to the opinion that this is a miscoception in `@angular/forms` `ReactiveForms`  :  https://github.com/angular/angular/issues/11271

[2019-10-19 10:20] #287 closed

[2019-11-14 09:59] #157 closed

[2019-11-14 19:27] MyleneSimon opened #313 "Required nested properties valid even though they are empty"
We are using the library to generate forms for tasks configured by users as part of scientific workflows.
Our schemas usually consist of a `taskName` property (string), and a `parameters` property (object with nested properties), for example:
[code]
In this case, top level property `taskName` is required, as is nested property `paramA`.
Our issue is that required nested properties have the class `

[2019-11-17 14:09] AviFix commented on #242
Same problem

Any solution?

[2019-11-20 13:43] daniele-pecora commented on #313
As I see, empty fields are not handled as invalid inputs if they are required.
An exception is made for 1st level children.
For all nested fields the parent container is set to `ng-invalid` instead.

See this example here based on yours:
https://stackblitz.com/edit/ngx-schema-form-customs-r1nkga-313

[2019-11-20 14:36] MyleneSimon commented on #313
So this is the intended behavior then? What puzzles me a bit is that if one of the other nested properties is not empty (for example, typing something for Param B), then the validation errors will show "Missing required property: paramA", and yet the field will be in valid state.
The issue is that if we base our styling on the `has-error` of the parent, then all nested fields will appear as invali

[2019-11-20 18:17] daniele-pecora commented on #313
It's a kind of yes and no (Schrödinger).
Yes, the error shows up but no it isn't referenced to the field rather to the parent container.

I've modified [the example at Stackblitz](https://stackblitz.com/edit/ngx-schema-form-customs-r1nkga-313) a bit so it shows the path of the control where the error comes from.
Also it is now using the `:invalid` pseudo selector to address `required` field.

<img

[2019-11-21 15:11] MyleneSimon commented on #313
@daniele-pecora thank you for the explanation, using the `:invalid` pseudo selector might just do the trick for us!

[2020-01-14 04:47] tqduy commented on #214
Hi @ebrehault ,
I have an issue when upgrading from angular2-schema-form to ngx-schema-form where I add the z-schema package
I have a schema json:
`"component": {
                "type": "string",
                "widget": "select",
                "description": "Component",
                "oneOf": [
                  {
                    "description": "Audible Warning Devices",

[2020-01-14 08:47] ebrehault commented on #214
Sorry, I never saw this problem before.
Maybe you could try to use the source version of ngx-schema-form so you can debug and see what happens.

[2020-01-14 10:17] tqduy commented on #214
thank you for response.
Can you give me some clue so that I can track down about how the ControlWidget.formProperty is binding while rendering between the steps the <sf-
form> to call widget class?
![image](https://user-images.githubusercontent.com/11729162/72335375-78355200-36f1-11ea-97e2-6da5e06a71a4.png)

The above error lead the formProperty._value = "" and cannot render the existing value loa

[2020-01-14 10:19] ebrehault commented on #214
I cannot provide any support at the moment as I am pretty busy with other matters.

@daniele-pecora, would you have time to have a quick look?

[2020-01-14 15:19] aman-di-fu commented on #214
@tqduy
I had this once when the `oneOf` didn't contain an empty value selection.
Simply add something like this to your `oneOf` schema :
[code]
For me this behavior seems logic because the field's value has to be one of described by `oneOf` but initial it is `null` or `` (empty)

[2020-01-15 04:56] tqduy commented on #214
Thank you for response.
Your solution can solve the error message. But I still cannot received the initial data in the widget to render
I will explain more: I have a component named A.component.html which used sf-form which schema and schemaModel come from API server

`
<sf-form *ngIf="showSchema" [schema]="schema" (onChange)="updateSchemaValue($event.value)"
        [validators]="fieldValidators"

[2020-01-16 08:43] anotherpit opened #316 "Release disableControl directive on NPM"
Useful PR https://github.com/guillotinaweb/ngx-schema-form/pull/311 has been merged, but not published on NPM. Please, publish a new version.

[2020-01-16 09:57] ebrehault commented on #316
@anotherpit done, 2.4.2 is published

[2020-01-16 13:29] #316 closed

[2020-01-17 15:21] stefdelec opened #317 "How to have async custom validators?"
How to have async custom validators?
From your example :

[code]

[2020-01-20 21:52] AviFix commented on #197
Having the same problem with the select widget

[2020-01-27 10:05] aaronhong commented on #134
@ralph089 thanks for your answer. I'm new to ngx-schema-form. Where are you using this `isValid()` function and how did you pass the fields to it? Could you give a more extended answer. Thanks.

[2020-01-29 12:50] WhileTrueEndWhile commented on #242
I think the solution would be moving this code...
https://github.com/guillotinaweb/ngx-schema-form/blob/master/projects/schema-form/src/lib/formelement.component.ts#L21
...to each default widget in...
https://github.com/guillotinaweb/ngx-schema-form/tree/master/projects/schema-form/src/lib/defaultwidgets

[2020-01-31 11:03] tqduy opened #318 "Cannot render formProperty.Properties to initial data for array widget"
Hi everyone,
I have a case which I cannot binding the existing schema data to array widget.
In component A, I have:
`<sf-form *ngIf="showSchema" [schema]="schema"
        [validators]="fieldValidators" [actions]="actions" [(model)]="schemaData ">
    </sf-form>`
where I render the initSchemaValue as the init data for the sf-form and I create an array-widget.component.ts:
`export class IonicArrayWi

[2020-02-06 00:27] gabriellupu commented on #214
[code]
fixed it for me. using `"ngx-schema-form": "^2.4.3",`

[2020-02-07 20:11] MyleneSimon commented on #112
Any update on this topic? Or workaround we could use in the meantime?
We are facing the same issue, and since we generate forms to configure scientific algorithms, users are often typing numbers looking like `0.00xxx` and the only way for them to do that right now is to type `0.xxx` and then go back to add the `0`s after the point, which is not ideal.

[2020-02-11 19:59] KEIII opened #319 "`Maximum call stack size exceeded` if scheme has circular references"
Schema example with circular references what produce an `Maximum call stack size exceeded` error.

[code]

[2020-02-20 17:54] KEIII commented on #319
Important missing thing — scheme must be compiled before send into sf-form.

Example:

[code]
[code]

[2020-02-24 19:44] AviFix opened #320 "visibleIf with buttons"
Hi,

visibleIf works fine with form fields, but I couldn't get it to work with buttons.

I want a button to show only if for example the user's age field is set to 18.

Thanks

[2020-02-26 04:06] ying8599 opened #321 "Custom Button Widget unable to trigger form [actions]."
I have created a custom button and also an action (followed the read me - Actions and buttons guide).

It is able to render the custom button but unable to trigger event in Myactions.

customButtonWidget
html :
[code]

AppComponent
[code]

[2020-03-02 07:31] daniele-pecora commented on #214
I'll have a look asap

[2020-03-02 14:10] daniele-pecora commented on #214
I'd recommend using :
[code]
instead of
[code]

this solves the issue that the array model is not pre-filled.

@ebrehault I think this is the problem...

[2020-03-02 14:18] ebrehault commented on #214
Agreed.
I am even wondering if we should add a warning message (in dev mode only) when people use `changeModel` (the implicit output used with `[(model)]` because it is causing so many confusion.

[2020-03-02 16:53] daniele-pecora commented on #214
@ebrehault We already struggled on this with #233

[2020-03-02 17:03] ebrehault commented on #214
yes, true.
So if we want to restrict two-way binding to `ngModel` only, we just have to remove  the `modelChange` output.

[2020-03-02 19:55] daniele-pecora commented on #214
@ebrehault This would be a breaking change?

[2020-03-02 20:33] ebrehault commented on #214
Yes, and we will mention it in the changelog. I think that's fine, it will avoid confusion in the future.

[2020-03-03 05:34] aaronhong commented on #151
@ebrehault thanks for your comment. It's helpful.

So what I understand is that by default checkboxes support multiple select. However, what kind of confuses me is that [checkboxes also use `oneOf`](https://github.com/guillotinaweb/ngx-schema-form/blob/master/projects/schema-form/src/lib/defaultwidgets/checkbox/checkbox.widget.ts#L19). So it seems like `oneOf` is not actually used semantically for

[2020-03-03 05:47] aaronhong commented on #219
@WhileTrueEndWhile how do you do this? I tried looking at the linked issues.

[2020-03-03 08:30] ebrehault commented on #151
yes correct, by choosing the widget checkbox we consider we want to allow multiple values (if that was not the case, we would pick radio widget)

[2020-03-09 07:39] AviFix commented on #320
Anyone?

[2020-03-09 10:23] WhileTrueEndWhile commented on #219
You have to create your own custom widget registry. You could start by copying existing widgets. Then you can modify the templates and insert your CSS class from proprietary schema properties.

[2020-03-09 16:54] WhileTrueEndWhile commented on #321
Try to use regular angular event handling. Referring the README `myActions` is bound to  `<sf-form/>` like `[actions]="myActions"`. But you are **not** using `<sf-form/>`. Something like `(click)="onClick($event)"` with a corresponding `onClick` TS method should be sufficient.

[2020-03-11 02:14] ying8599 commented on #321
Thanks for the response.
I have used another method to do the dynamic from.

[2020-03-11 02:14] #321 closed

[2020-04-02 04:30] sacse2010 commented on #190
// Working fine
.form-control.ng-untouched,
.form-control.ng-valid {
    border-color: #ccc !important;
}

[2020-04-09 12:50] Jcomper opened #326 "IE 11 support?"
IE 11 is not supported as far as I can tell.
Dependency jexl is using ES6 class syntax, after transpiling it to ES5 I faced a problem that Proxy object is used in formproperty.ts
`  set properties(properties: FormProperty[] | { [key: string]: FormProperty }) {
    /**
     * Override the setter to add an observer that notices when an item is added or removed.<br/>
     */
    this._properties = ne

[2020-04-09 12:55] ebrehault commented on #326
Sorry, but currently, we have no plan about IE11 support.
Of course, if you come up with a pull request providing IE11 support and not impacting negatively the current implementation, we would definitely merge it.

[2020-04-09 18:04] AviFix opened #327 "visibleIf turn true even if only part of the value matches the expression"
Hi

it seems that visibleIf turn true even if only part of the value matches the expression.

Schema example:
[code]
The Age field is showing even for "sabc" and "abcc" etc...

[2020-04-09 22:23] #327 closed

[2020-04-09 22:29] AviFix opened #329 "visibleIf "allOf" Edge case BUG"
Hi,

In the following schema follow in the exact order:
1: Set the "Last name" to BBB
2: set the age to 15
The "First name" field will appear as expected.
3: change "Last name" to AAA
The "First name" Still exists (It shouldn't).

[code]

[2020-04-28 14:22] akshaygolash commented on #326
@Jcomper - Are you planning yo create PR ? My angular app also does not compile in IE 11 because of JEXL not providing es5 transpiled code.

[2020-05-07 09:35] petrce opened #331 "visibleIf stopped working in 2.5.2"
Hi it looks like this change broken visibleIf functionality:
https://github.com/guillotinaweb/ngx-schema-form/commit/9574ec45d8ac89ecca2a8976df7d575f5085e111

based on the documentation we were using:
[code]
https://github.com/guillotinaweb/ngx-schema-form#conditional-fields

this stopped working

[2020-05-12 18:01] MyleneSimon opened #332 "Unable to enter floating numbers with 0 after decimal point"
We are using the library to generate forms to configure scientific algorithms, and users are often typing numbers looking like `0.00xxx`.
The issue is that while trying to enter a floating number with a `0` after the decimal point, the decimal point and `0` part gets removed.

Some examples:
- if I type `1.23`, no issues, I see the value `1.23` in the input field
- if I type `1.0`, the `.0` gets r

[2020-05-12 19:30] ebrehault commented on #332
That's due to the way JavaScript is handling numbers.
[code]
There is no difference between 1 and 1.0, so no matter how ngx-schema-form handles it, if we use a number field and the entered value is 1.0, we will get 1 as a resulting value.

I am afraid the only way to manage it is to use a string field, so the value will be `"1.0"` (you can implement a FloatStringWidget widget that would render a `

[2020-05-21 13:42] MyleneSimon commented on #332
Thanks for the explanation, we will try the FloatStringWidget.
So it that case, in the schema for example we would declare the field as:
[code]
and then have a `FloatStringWidget` similar to the `IntegerWidget` (the one currently used for numbers) registered in WidgetsRegistry, is that correct?

[2020-05-31 16:42] artonio opened #333 "Interfaces describing json schema shape"
Hi, first of all I would like to thank the community for this library, excellent work. However, one thing that I usually run into when developing software with this library is that it's in TypeScript but there are no interfaces describing the shape of the JSON Schema, i never know what keys it can have without resorting to documentation. It would be nice to have interfaces describing the schema as

[2020-06-01 06:40] ebrehault commented on #333
It would be great!!

[2020-06-02 07:03] ebrehault commented on #333
Closed by #334

[2020-06-02 07:03] #333 closed

[2020-06-04 08:56] catarinarpds opened #335 "Is it possible to add an enum to a oneOf and set it as disabled/readonly?"
For example:

"oneOf": [
    {
      "enum": [
        "linux"
      ],
      "description": "GNU/Linux",
      "readOnly": true
    },
    {
      "enum": [
        "osx"
      ],
      "description": "OSX"
    },
]

[2020-06-04 10:22] #335 closed

[2020-06-07 17:26] AviFix opened #337 "fieldset with no field, do to visibleIf are still showing"
Hi,

When using visibleId to hide all fields in a fieldset, the fieldset is still displayed.

This schema:
[code]
Will result with this :

![image](https://user-images.githubusercontent.com/3835504/83975477-e7a81a00-a8fc-11ea-8238-1248028d81d4.png)

I would like the empty fieldset not to show

Thanks

[2020-06-11 11:14] daniele-pecora opened #338 "Event-bindings not supporting array"
Even though the declaration the type `Binding` defines support for settings more then one action function :
<img width="971" alt="Type-Binding" src="https://user-images.githubusercontent.com/2026072/84378861-208a0c80-abe5-11ea-86fd-bdaf1d12001a.png">

the `FormProperty` lacks of the implementation:

<img width="819" alt="Bindings-Implementation" src="https://user-images.githubusercontent.com/20260

[2020-06-11 11:42] #338 closed

[2020-06-11 12:12] daniele-pecora commented on #329
I have got this example here on stackblitzt where I put you schema in:
https://stackblitz.com/edit/schema-form-array-visibleif-binding-issue329

It's working fine on Microsoft Edge and Chrome

[2020-06-12 08:19] AviFix commented on #329
Hi @daniele-pecora,

in your example do the following steps:

- set the last name to BBB
- set the age to 15
- Click on the last name again (to focus) but do not change your selection
- change the age and the first name will still be showing
![aaa](https://user-images.githubusercontent.com/3835504/84481307-8e463f00-ac9e-11ea-939f-fc2447313a45.gif)

[2020-06-14 17:08] daniele-pecora opened #340 "No valid extension possible"
The newly added type definition `ISchema`  restricts the schema form definition.
Creating an own UI Widget Library can not extend functionality.
In my example we have support for `readOnly` property on `oneOf` items.

I would suggest allowing to extend the current elements with custom properties:
- ISchema
- IWidget
- IFieldset
- IButton
- IOneOf

[2020-06-15 04:54] daniele-pecora commented on #326
Jexl ES5 support pull request is already there:
https://github.com/TomFrost/Jexl/issues/57

[2020-06-15 07:05] #340 closed

[2020-06-15 07:05] #309 closed

[2020-06-23 10:52] daniele-pecora opened #343 "Huge amount of warnings"
Due to the lazy mechanism of `visibilityIf` conditions warning are logged into console.
Having a complex schema form may cause a load of warnings in log console.

<img width="1165" alt="warnings" src="https://user-images.githubusercontent.com/2026072/85395401-59fd3900-b550-11ea-8833-4398cc2de38d.png">

[2020-06-23 11:52] ebrehault commented on #343
I guess we should not display any warning if we are not sure a property is truly missing.
(and I am not a big fan of console warning anyway)

[2020-06-23 12:45] daniele-pecora commented on #343
@ebrehault
What about implementing a very basic logging abstraction.
This could be enabled on any `formProperty` like:
[code]

[2020-06-23 13:30] ebrehault commented on #343
It sounds a bit out of scope to put it in the schema.
I would prefer a constant in the app module providers.

[2020-06-23 17:06] daniele-pecora commented on #343
sound good and sufficient :-)

[2020-06-24 03:24] bennmapes commented on #331
I'm getting the same issue, it still works for string values but not for booleans.

[2020-06-24 19:06] #343 closed

[2020-06-29 08:09] daniele-pecora opened #348 "Error - with log implementation"
Widget based on `PropertyGroup` throw an error indicationg the logger is missing.

<img width="1238" alt="Bildschirmfoto 2020-06-29 um 10 07 49" src="https://user-images.githubusercontent.com/2026072/85989191-75ed5880-b9f0-11ea-96b5-b33523d807ec.png">

[2020-07-11 10:10] #348 closed

[2020-07-16 14:41] chuckle123 opened #355 "NPM Package Page Readme Not Found"
[https://www.npmjs.com/package/ngx-schema-form](https://www.npmjs.com/package/ngx-schema-form)

![image](https://user-images.githubusercontent.com/10111341/87684606-71df6b80-c750-11ea-8d7d-f0e4a6725b76.png)

Just a heads up.
Awesome package.

Cam

[2020-07-16 15:37] #355 closed

[2020-07-16 15:37] ebrehault commented on #355
Ooops…
Thanks!

[2020-08-04 18:42] aahventures opened #357 "Help with GUI form builder"
Hi! Thanks for your great work. I'm trying to create a GUI form builder similar in idea to https://github.com/json-schema-form/json-schema-builder, but with a different interface.

I've hacked a proof of concept together using custom bindings and temporarily a text area to edit the form property schema.

[code]

[code]

I'm having some problems and therefore questions:
1. Can I bind all the fields

[2020-08-07 06:55] daniele-pecora opened #358 "Completing Public API"
The specification of the `Validator` defines the param `formProperty` as type `FormProperty` and the param `form` as type `PropertyGroup` .
Although the type `FormProperty` is part of the public API `PropertyGroup` is not.
This then requires to import `PropertyGroup` with the deep import path `ngx-schema-form/lib/model/formproperty` rather then using `import {PropertyGroup} from 'ngx-schema-form'`

[2020-08-07 07:38] #358 closed

[2020-08-12 03:37] tqduy opened #360 "VisibleIf-oneOf with 2+ conditions has same property name is not working"
Hi everyone,
I'm having a problem while using the visibleIf with oneOf
Re-produce steps:
- Click Pass : "visibleComponent" is hidden
- Click Warn: "visibleComponent" is shown
- Click Fail :  "visibleComponent" is still shown
- Click Warn: expect "visibleComponent" is still shown ==> actual: "visibleComponent" is hidden (wrong)
   --> Click Pass: expect "visibleComponent" is hidden
   --> Click War

[2020-08-13 14:59] thardy opened #361 "Just a heads-up - angular-schema-form is not planning on developing a 2+ version"
I've had my eye on angular-schema-form for quite some time, and I've been wondering when and if they were going to upgrade to Angular 2+.  It looks like you guys are "it" as far as Angular support for json-schema.

Anthropic stated the following in their gitter (https://gitter.im/json-schema-form/angular-schema-form)...

anandasaran @anandasaran Aug 07 02:06
Do we have the json-schema-form/angular

[2020-08-14 05:35] thardy opened #362 "Rules and workflow in json-schema?"
Are there any examples or modules for placing basic logic rules into json-schema? e.g. "If the answer to question 2 is yes, make questions 10-12 visible". Just wondering if flow control and rules are addressed anywhere by json-schema or if anyone has pioneered any work in that space.

[2020-08-17 05:17] daniele-pecora commented on #362
The widget library **[ngx-schema-form-widgets-material](https://github.com/daniele-pecora/ngx-schema-form-widgets-material)** based on Google Material Design contains a `Wizard` widget that might do what you need here.

You may have a look at the demo page [click here](https://ngx-schema-form-material.web.app/) , especially for the tab **Complex types**

I did create this library and due tue lack

[2020-08-17 05:33] daniele-pecora commented on #320
@AviFix  This feature is not yet available, but my come in future. For me it sound really usefull.

All you can do for now is to switch between 2 widgets where one contains an action button and the other not.

[2020-08-17 06:27] #320 closed

[2020-08-17 20:29] daniele-pecora commented on #357
Could you provide an example on [Stackblitz](https://stackblitz.com/)?

[2020-08-17 21:26] daniele-pecora commented on #38
This is solved?
As far I can see, this issue does not exist anymore.
Can you approve this in this [Stackblitz Example - click here](https://stackblitz.com/edit/ngx-schema-form-template-visibleif-38?file=src%2Fapp%2Fmyform%2Fschema-form.json) ?

<img width="1436" alt="Bildschirmfoto 2020-08-17 um 23 25 11" src="https://user-images.githubusercontent.com/2026072/90446112-1999e180-e0e1-11ea-9b0e-5bb71

[2020-08-18 04:40] daniele-pecora commented on #189
demo page works again https://guillotina.io/ngx-schema-form/dist/ngx-schema-form/

[2020-08-18 04:40] #189 closed

[2020-08-18 04:42] daniele-pecora commented on #10
Angular version is now 9, this is not an issue anymore

[2020-08-18 04:42] #10 closed

[2020-08-18 05:01] daniele-pecora commented on #21
You may have a look at [this/my extension](https://github.com/daniele-pecora/ngx-schema-form-view/) on how to remap your model to the data structure required by the backend.

[2020-08-18 05:25] daniele-pecora commented on #37
A custom `SchemalValidatorFactory` can new be defined via module providers.
Example:

[code]

[2020-08-18 06:37] daniele-pecora commented on #307
This may require to compile the json schema before handig it over to `sf-form`.

The solutio to this is provided in #319

[2020-08-20 15:40] #329 closed

[2020-08-20 15:40] #331 closed

[2020-08-20 15:40] #360 closed

[2020-08-20 16:06] daniele-pecora commented on #329
@AviFix
[Update demo on stackblitz with latest ngx-schema-form](https://stackblitz.com/edit/schema-form-array-visibleif-binding-issue329):
https://stackblitz.com/edit/schema-form-array-visibleif-binding-issue329

![visibleIf-issue-329-solved](https://user-images.githubusercontent.com/2026072/90796614-d2456800-e30f-11ea-876e-565b889605e1.gif)

[2020-08-26 10:31] aahventures commented on #357
@daniele-pecora here is a crudely put together Stackblitz: https://stackblitz.com/edit/ngx-schema-form-gui-editor

The only two fields that are clickable are indicated with "CLICK ME." The only two property changes that will be applied back are `title` and `placeholder`. It's kind of an incomplete example, with no styling to help the user.

[2020-08-26 20:17] daniele-pecora commented on #357
**Question**
1. Can I bind all the fields without explicitly specifying the path? Something like a wildcard bind,

**Answer**
No you can't unless you specify a validator for every property you are interested in but
in your example this will bind a validator to the very root property
[code]
every time a child property changes the validator gets called.

**Question**
1. Can I modify an existing form

[2020-08-29 12:30] daniele-pecora commented on #337
I think best way ist to go with a custom `WidgetRegistry`.

Based on your schema I prepared an example on Stackblitz where an `ObjectWidget` will not render the `fieldset` if all children are not visible.
https://stackblitz.com/edit/ngx-schema-form-customs-widgets-issue-337?file=src/widgets/WidgetRegistryPrimeNG.ts

[2020-08-29 19:22] #337 closed

[2020-08-30 06:02] daniele-pecora commented on #223
Support of **prefixed schema extension** came with commit d7c3d8f3dadf9a8bcbaa0ba004452efc28372b72
See also : https://stackblitz.com/edit/ngx-schema-form-customs-widgets-223?file=src/app/myform/schema-form.json

[2020-09-07 11:44] idanmalka commented on #144
Was this issue fixed?

[2020-09-15 16:24] daniele-pecora commented on #326
Jexl ES5 support pull request has been merged and released as version 2.3.0
https://github.com/TomFrost/Jexl#57
https://github.com/TomFrost/Jexl/pull/87

[2020-09-16 08:08] aahventures commented on #357
Thanks for the response. For question 1 I'm using the [custom bindings](https://github.com/guillotinaweb/ngx-schema-form#custom-bindings), in this case 'click', to detect when a field is selected to "be edited." Binding on the root property doesn't tell me which field in particular is being selected? Am I correct?

Also if you have any other thoughts or even libraries that could help us make a GUI

[2020-09-16 13:38] rodrigo-vizbelis commented on #326
Hi @daniele-pecora . I tried your suggested solution but it doesn't work with latest ngx-schema-form@2.5.7 and also ngx-schema-form@2.5.0

IE11 error messages:
- version 2.5.7: "Proxy polyfill does not support trap 'logger'"
- version 2.5.0: "Proxy polyfill does not support trap 'deleteProperty'"

[2020-09-28 19:42] daniele-pecora commented on #326
Hi @rodrigo-vizbelis could you try this version I build here:
[ngx-schema-form-2.5.7-beta.1.tgz.zip](https://github.com/guillotinaweb/ngx-schema-form/files/5294670/ngx-schema-form-2.5.7-beta.1.tgz.zip)

Just extract the ZIP file somewhere and install via path like
`$ npm install ./myfolder/ngx-schema-form-2.5.7-beta.1.tgz`

[2020-09-29 06:48] aahventures commented on #362
@daniele-pecora I saw this wizard widget before and was wondering if you could explain what it is for and how to exactly use it? I'm not sure from just looking at the demo.

[2020-09-29 07:12] daniele-pecora commented on #362
@aahventures you might look into the source code folder `_forms/...`

[2020-10-01 15:00] develAman commented on #313
Needed to check validness of fields/nested fields in a fieldset, to show status for each step of the stepper
Here is an example code in [stackblitz.com](https://stackblitz.com/edit/ngx-schema-form-stepper-widget-step-status?file=src%2Fapp%2Fwidgets%2Fstepper%2Fstepper.widget.ts)

Some required fields are working as not required (`lastName`, `transactionNumber` in step 1, `category` in step 2, and

[2020-10-01 15:29] daniele-pecora commented on #313
**Answer**
Create a custom schema validator that corrects the error message path, so the error is mapped to the field itself.
Working sample: [custom-zschema-validator-factory.ts](https://github.com/daniele-pecora/ngx-schema-form-widgets-material/blob/master/projects/ngx-schema-form-widgets-material/src/lib/custom-zschema-validator-factory.ts)

**Answer**
Create a custom schema validator that igno

[2020-10-01 18:45] rodrigo-vizbelis commented on #326
@daniele-pecora ExtendedProxyHandler changes solves issue about proxy polyfill unsupported traps. Here is a stack trace from new IE11 issue:

[code]
Error comes from ObjectProperty class line 55:

`this.properties[propertyId] = this.formPropertyFactory.createProperty(propertySchema, this, propertyId);`

[2020-10-01 20:27] daniele-pecora commented on #326
@rodrigo-vizbelis

The [GoogleChrome/proxy-polyfill](https://github.com/GoogleChrome/proxy-polyfill/blob/master/src/proxy.js) does make the wrapped object immutable by calling `Object.seal(...)` on them.
That is why adding new properties wont work here.

As I see there is another proxy polyfill [es6-proxy-polyfill](https://github.com/ambit-tsai/es6-proxy-polyfill) which does not `seal` the target

[2020-10-05 04:28] develAman commented on #313
Thank you @daniele-pecora for your quick answer, will try to customize the validator.
Nice working sample btw, will try to use them in the future :)

[2020-10-05 12:15] sjjk001 opened #366 "Accessing ObjectProperty but not via a button and action?"
Hi,

I need to be able to access the ObjectProperty of the form like in the image below but the only way that I can do it now is through a button and logic written in myActions object. The reason why I want to do that is because I want to use the "valid" property to disable and enable buttons accordingly and an also be able to access "_errors" to display the messages in a div above my form.

![Cap

[2020-10-13 06:07] aahventures commented on #357
@daniele-pecora I have a somewhat working GUI form editor using custom bindings, but I'm hitting a performance issue now.

I have a fairly large form and I allow removing/changing requiredness of a field. The best way I could figure out how to update the `<sf-form>` is to give it a new schema. The performance was mostly fine until I added in the `oneOf` list options. Now it is unbearably slow (~10

[2020-10-15 16:57] daniele-pecora commented on #357
I would provide a custom `SchemaValidatorFactory` which would be used in the UI Editor (See doc for details).
The implementation of the `SchemaValidatorFactory` simply contains no validation at all.
This should speed up the validation process.

[2020-10-15 17:00] daniele-pecora commented on #366
What about `bindings` or `validator` (see doc for details) ?

[2020-10-20 14:06] erlioniel commented on #326
@daniele-pecora I think the label on the issue is misleading. Maybe remove it?

I was trying to play with polyfills, but didn't manage to make it working. So rolled back to 3.5.x :(

[2020-10-26 14:49] aahventures commented on #357
Thanks. Works well.

If I wanted to keep the validation and performance, then I would probably need to look into optimizing z-schema or replacing it?

[2020-10-26 16:48] daniele-pecora commented on #357
@aahventures
Probably 😁

[2020-11-11 09:34] daniele-pecora opened #367 "VisibleIf - Negative condition case"
A negative condition is not working with this example

[code]
But works when using an expression like `"$EXP$ !target.value"`

See [example at Stackblitz](https://stackblitz.com/edit/ngx-schema-form-template-visibleif-false-367)

[2020-11-13 07:56] #367 closed

[2020-11-17 06:04] daniele-pecora commented on #175
@JianhuisHuang
We worked around this by using a custom validator factory, which does take in count if an optional field is empty.
Herenis how we use it:
https://github.com/daniele-pecora/ngx-schema-form-widgets-material/blob/master/projects/ngx-schema-form-widgets-material/src/lib/fix-optional-empty-fields-z-schema-validator-factory.ts

[2020-11-19 03:07] rautNitesh commented on #190
What if the response is coming back from the backend ?
may be like this { name:["name fields exceeds its character limit"] ,......}
How can we achieve the same in such case ?
I am pretty beginner in this field so don't mind If I sound stupid.

[2020-12-03 07:06] daniele-pecora opened #370 "VisibleIf - oneOf and allOf"
The processing of the `visibleIf.oneOf` and `visibleIf.allOf` fails for all fields if one field set doesn't exist at validation time.

e.G.
[code]

Considered solution would be to handle non existing fields as `null` or `undefined` values

[2020-12-03 08:30] #370 closed

[2020-12-09 11:45] abarghoud commented on #73
@ebrehault any updates on this ?

[2020-12-11 14:33] daniele-pecora opened #373 "Array items with different types"
With Json Schema 7.0 array item types can have different types.

<img width="816" alt="array-items-different-types" src="https://user-images.githubusercontent.com/2026072/101914827-12816c80-3bc5-11eb-9213-d74ecd1c7baa.png">

See also https://json-schema.org/understanding-json-schema/reference/array.html

To me this features seems very useful.
So I will provide a pr to this.

This is how it looks l

[2020-12-12 01:07] daniele-pecora commented on #373
Re-opening this issue, since schema preprocessing is missing.

When `widget` property is not present usually it will automatically generated by the `schemapreprocessor.ts`.
This is actually not the case when `array.items` is an array itself and it also not for `array.additionalItems`.

[2020-12-14 07:28] #373 closed

[2020-12-17 20:51] abarghoud opened #380 "Form control errors value is an array of errors"
When implementing a custom widget I realised that the value of `errors property` which is part of [control property](https://github.com/guillotinaweb/ngx-schema-form/blob/master/projects/schema-form/src/lib/widget.ts#L11) is an array of errors as we can see here https://github.com/guillotinaweb/ngx-schema-form/blob/master/projects/schema-form/src/lib/widget.ts#L29.

Knowing that the type of [FormC

[2020-12-28 09:26] panin95 opened #381 "why visibleIf doesn’t validate correctly required"
[example](https://stackblitz.com/edit/ngx-schema-form-template-visibleif-38-3zbuno?file=src%2Fapp%2Fmyform%2Fschema-form.json
)
if i not add allOf definition z-schema not understand
Is it possible use ngx-schema-form if visibleIf true then field also required ?

[2020-12-31 20:17] aahventures commented on #144
@daniele-pecora do you have a new work around or are you still using the same one?

[2021-01-05 14:20] daniele-pecora commented on #144
Still same state here

[2021-01-15 22:36] abarghoud commented on #380
Hello @ebrehault, any thouhgts concerning this bug ? If you agree I could submit a PR, but it would introduce a breaking change

[2021-01-20 10:27] Jelledb opened #382 "Add support for Angular 11"
It would be great if you guys could add official support for Angular 11.

This ensures that users of the library can trust that the library works with Angular 11.

I did some manual testing with this library and Angular 11 and everything seems to work fine, but it would be great to get rid of the peer dependencies warning:

[code]

[2021-01-20 19:47] ebrehault commented on #382
Fixed, 2.6.0 is released and provides Angular 11 support.

[2021-01-20 19:47] #382 closed

[2021-02-07 19:57] AviFix commented on #292
For example, let say I have a form with 2 fields name and age.
clicking on the save button triggers a custom action that gets a "property" object.
property.value contains the form data.

The problem is if I edit the form and leave the input empty, I expect to get an empty value, instead, the empty property doesn't exist in the property.value

[2021-02-07 22:06] AviFix opened #384 "Empty form fields are missing from the model obgect"
Hi,

When leaving a field empty, its property seems to be removed from the form value.

Regular angular form:
![image](https://user-images.githubusercontent.com/3835504/107160815-3680e480-69a1-11eb-83dd-01485a47b89e.png)
firstName is empty but is exist

ngx-schema-form:
![image](https://user-images.githubusercontent.com/3835504/107160829-4dbfd200-69a1-11eb-8c9b-371dc44620c2.png)

email is empty an

[2021-02-08 19:58] daniele-pecora commented on #384
That is true, but how could it be handled otherwise and maintain the required validation?

[2021-02-08 20:41] AviFix commented on #384
What do you mean?
Does it contradict?

[2021-02-08 20:43] daniele-pecora commented on #384
Partially it does, because `required` wouldn't trigger if field is empty.

[2021-02-08 21:09] AviFix commented on #384
Isn't it possible to trigger the required if the field is empty like the angular form control does?

[2021-02-08 23:16] daniele-pecora commented on #384
ngx-schema-form doesn't rely on angular form control validation rather on a json schema validator.
The default validator implementation is Z-Schema.
JSON Schema validation counts an empty property as present and therefore the required rule is passed as 'valid'.
A 'required' validation is negative only if the required property is not present at all.

[2021-02-09 08:09] AviFix commented on #384
Thanks for the detaild explenation.

Could you please point me to the code that is in charge of removing the empty fields and to the validation part?

[2021-02-09 08:39] daniele-pecora commented on #384
I don't know it myself.
For preventing a huge breaking change this should end in a feature that can optionally be activated.
Maybe via `forRoot(...)` or smt else

[2021-02-11 08:56] panin95 opened #385 "Schema dependencies is not working"
[Example](https://stackblitz.com/edit/ngx-schema-form-template-visibleif-38-wv5pa2?file=src%2Fapp%2Fmyform%2Fschema-form.json)
[Schema dependencies](http://json-schema.org/understanding-json-schema/reference/object.html#schema-dependencies)

[2021-02-18 09:03] AviFix commented on #384
Sure

Anyone else that can point me toi the code that is in charge of removing the empty fields and to the validation?

[2021-02-18 16:47] daniele-pecora commented on #384
@AviFix I would guess that `widget.ts` could be a good start (just guessing)

[2021-03-07 04:37] bennmapes opened #386 "visibleIf broken for oneOf and allOf when referencing an array property"
Noticed this recently but not sure how long this has been the case, if you reference an array inside of a visibleIf oneOf (and after looking at the code also an allOf but I didn't test this) it will never evaluate to visible.

For example if you add the following to the `visibility-binding-example-schema.json` in the demo project, it should be visible if `fiat` is selected but it's not.
[code]

Fo

[2021-03-08 19:50] bennmapes commented on #386
Thanks for getting this looked at so quickly!

[2021-03-08 19:50] #386 closed

[2021-03-09 02:49] bennmapes opened #389 "Visible if behavior not consistent with paths in oneOf and allOf"
As I was working more with the visibleIf's I noticed there was a difference in behavior between how its handled normally and how its handled inside the oneOf's and allOf's.

For example the following visibleIf's should be equivalent:

[code]

[code]

But for some reason if the key with the path doesn't start with a `/` it wont work with a oneOf/allOf but it will normally.

Digging into the same co

[2021-03-09 06:58] #389 closed

[2021-03-15 16:20] Eviltux666 opened #391 "#question"

[2021-03-17 13:49] #100 closed

[2021-03-20 01:43] waveiron opened #392 "Please support Angular 11"
[code]

[2021-03-20 10:40] #392 closed

[2021-03-20 10:45] ebrehault commented on #392
Angular 11.0 was using `zone.js@0.10.2` but apparently Angular 11.2 is accepting both `zone.js@0.10.2` and `zone.js@0.11.3`.
I have just fixed the peer dependency to be compliant.
Latest version (ngx-schema-form 2.6.3) should be fine with your setup.

[2021-04-09 13:54] aderman commented on #318
It happens because when initialising form.component in ngOnChanges method  below line is executed

createProperty eventually calls initializeRoot which effectively resets the array values. again in form.component there is this line which is commented out

[code]

I'll update this thread If I can fix this issue.

[2021-04-18 06:10] daniele-pecora commented on #391
As stated in the docu here:
https://github.com/guillotinaweb/ngx-schema-form#conditional-fields

Simply set the path and the expected value for the visiblyIf condition.

[2021-04-18 07:25] daniele-pecora commented on #391
Unfortunately `enum` contained in `oneOf` of a `visibleIf` condition will not be processed for visibility.

But this could be handelt inside the validator.
Here a quick and dirty example that shows one way of how this could be achieved:
https://stackblitz.com/edit/ngx-schema-form-template-visibleif-enums?file=src%2Fapp%2Fmyform%2Fschema-form-validators.ts

[2021-04-22 10:19] iperevozchikov opened #395 "Incorrect generated code in UMD for ver. 2.6.x"
Hello guys! Faced with next problem after updated dependency of your library to version `2.6.x` - started to receive error in the storybook (ver. 6.2):
[code]

After a small researching found that generated code in UMD is incorrect:
[code]

Propose next solution to solve this:
1. Enable `esModuleInterop` compile option (https://www.typescriptlang.org/tsconfig/#esModuleInterop)
2. Fix importing of

[2021-04-22 10:40] ebrehault commented on #395
Hi @iperevozchikov!
It sounds good!
Do you think you would have time you make a small pull request with these changes?
I'll be happy to review it :)

[2021-04-22 11:14] iperevozchikov commented on #395
:heavy_check_mark: https://github.com/guillotinaweb/ngx-schema-form/pull/396

[2021-04-22 12:50] ebrehault commented on #395
Great! Thanks! It is merged and published on NPM (version 2.6.4)

[2021-04-22 13:29] #395 closed

[2021-05-05 11:25] iperevozchikov opened #397 "Proposal to add nullable union like ["integer", "null"]"
Hello and I'm again.

**Problem brief**:
I have a response from backend server something like this:
[code]
And validation showed me error message that "Data does not match any schemas from 'oneOf'". After that I started to researching and found that in JsonSchema v6 may be using union types like `["integer", "null"]`. After that I modified schema above and tested via z-schema - the error was disap

[2021-05-06 06:49] ebrehault commented on #397
Hi Igor,
It sounds good to me :)

[2021-06-07 09:49] daniele-pecora commented on #308
Could anyone verify if this is affected by
https://github.com/guillotinaweb/ngx-schema-form/issues/386
?

[2021-06-11 09:37] pasblin opened #402 "angular reactive forms"
Hi,
it is possible to use this library using angular reactive  forms without using ngmodel?

regards

[2021-08-06 15:59] Jelledb opened #405 "Render HTML from schema property description"
Hey 👋

We're using ngx-schema-form to enable our customers to build their own forms, and it's working great so far.

One idea that we had, which would be awesome, is to enable custom HTML insertion via the JSON Schema description. This way you could do custom styling, provide hyperlinks, etc.

Our case would be to create JSON schema properties that contains links to support boards, e.g.
[code]

Hi

[2021-08-11 14:30] daniele-pecora commented on #405
Consider creating a custom UI Widget Library.
ngx-schema-form has support to use a complete customized UI Widget Library.
Here is an example using the Angular Material components:
DEMO: https://ngx-schema-form-material.web.app/
Try it yourself at Stackblitz: https://stackblitz.com/edit/angular-9-ngx-schema-form-material-template-9

[2021-08-11 14:36] daniele-pecora opened #407 "Label on checkbox not working inside arrays"
When a checkbox is nested inside an array item the it may happen that the labels `for` attribute value is not calculated correctly.
This will cause clicking on the labels not checking or unchecking the corresponding checkbox but always the one of the first array item.

**Wrong ID**
<img width="779" alt="ID-Wrong" src="https://user-images.githubusercontent.com/2026072/129049000-d7d5313e-f11e-4fcc-a

[2021-09-01 07:08] #407 closed

[2021-11-01 11:37] #397 closed

[2021-11-01 17:02] iperevozchikov opened #412 "Proposal: allow to use nullable union type not only for oneOf case"
Hi, @ebrehault!

A few monthes ago I was implemented #397  proposal to support nullable union types. And everything was good until yesterday while we not decided to move our selects to new type of widget like autocomplete and without using of oneOf property.
But constraint that I implemented in proposal doesn't allow to use this.

Another problem from my previous solution is buggy types in Schema

[2021-11-01 17:06] iperevozchikov commented on #412
PR: #413

[2021-11-03 11:12] iperevozchikov commented on #412
@ebrehault I see that you merged PR thanks! But still have a question about npm - could you publish new version of library there with my changes?

[2021-11-03 11:39] ebrehault commented on #412
Hi @iperevozchikov !
Yes sure, version 2.6.7 is now on npm.
By the way, for your future PRs, if you update the version number in `projects/schema-form/package.json` and add an entry in CHANGELOG.md, then GitHub Actions will automatically tag and publish to npm at the time the PR is merge :)

[2021-11-03 11:40] ebrehault commented on #412
example here: https://github.com/guillotinaweb/ngx-schema-form/commit/426af24763de06c4386e77add873281be407f5e3

[2021-11-03 11:52] iperevozchikov commented on #412
Got it, thanks for advice!

[2021-11-03 11:52] #412 closed

[2021-11-24 23:44] bennmapes opened #414 "`$ANY$ ` expressions do not validate correctly"
Currently when using an `$ANY$` expression in a `visibleIf` statement it does not validate correctly on number fields or anything without a `length` property such as numbers, booleans etc.

The way it's currently testing for validity of a value with `$ANY$ ` is with this:
https://github.com/guillotinaweb/ngx-schema-form/blob/426af24763de06c4386e77add873281be407f5e3/projects/schema-form/src/lib/mod

[2021-11-26 18:53] #414 closed

[2021-12-05 16:13] krishna217 opened #419 "onChange custom binding to select widget"
Is there a way to add onChange custom binding like  a click to a select form element ?

[2021-12-05 16:26] krishna217 commented on #419
Found the solution

I have to use change event instead of onChange.

[2021-12-05 16:26] #419 closed

[2021-12-08 09:23] daniele-pecora commented on #419
Yes as stated in section "Custom Bindings"
https://github.com/guillotinaweb/ngx-schema-form#custom-bindings

[2021-12-17 16:25] daniele-pecora opened #420 "VisibleIf - empty object check"
The current implemented check of an empty object doesn't recognize an empty object that inherits from prototype.

<img width="515" alt="Bildschirmfoto 2021-12-17 um 17 24 32" src="https://user-images.githubusercontent.com/2026072/146576089-ee691bcb-dc71-4ebb-811d-f67c63e021f1.png">

This seems to being added with commit https://github.com/guillotinaweb/ngx-schema-form/pull/415/commits/ccb841a7866c

[2021-12-17 16:51] #420 closed

[2021-12-31 05:39] gopalarajanaika opened #422 "Could not resolve dependency - peer @angular/common@"^11.2.6" from ngx-schema-form@2.6.9"
PS E:\projects\cki-education-admin-v3.0> npm i ngx-schema-form --save
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: cki-education-admin-v3.0@0.0.0
npm ERR! Found: @angular/common@13.1.1
npm ERR! node_modules/@angular/common
npm ERR!   @angular/common@"~13.1.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm E

[2022-01-01 18:23] #422 closed

[2022-01-06 04:32] krishna217 commented on #402
yes it is. Just use `formcontrol` instead of ngModel with `sf-form`

[2022-01-06 04:34] krishna217 opened #424 "Parent container for all the form actions"
Is it possible to add a parent container for all the form actions to make it easier to format all buttons ?

[2022-01-06 11:22] ebrehault commented on #424
I do not see an easy way to create a container for the buttons.
If you just need to format the buttons, you can use `sf-button-widget ::ng-deep button` as CSS selector.

[2022-01-06 13:44] krishna217 commented on #424
Thanks. But it would have been nice to have something similar to `sf-widget-chooser` for form actions

[2022-01-06 16:33] krishna217 opened #425 "Type mismatch with sf-form component input"
Type for bindings input of `sf-form` component  doesn't match [in library](https://github.com/guillotinaweb/ngx-schema-form/blob/master/projects/schema-form/src/lib/form.component.ts#L70) and [in example](https://github.com/guillotinaweb/ngx-schema-form/blob/master/src/app/json-schema-example/json-schema-example.component.ts#L34)

[2022-01-12 08:24] daniele-pecora commented on #424
@krishna217
As far as I see all action-buttons have a parent element `sf-form-element-action`.
<img width="649" alt="action-buttons" src="https://user-images.githubusercontent.com/2026072/149090576-467b4ae5-17bf-43a4-aabb-a72bf928ccfd.png">

[2022-01-12 13:24] #424 closed

[2022-01-12 22:15] kottle opened #426 "Regression loading array data with v 2.7.0"
After version: 2.5.9 has been introduced a bug so the library cannot load data from array, the scenario is very simple and reproducible running ngx-schema-form-demo with:
sampleschema.json: {
    "$schema": "http://json-schema.org/draft-04/hyper-schema#",
    "type": "object",
    "properties": {
        "contributors": {
            "description": "Contributors",
            "type": "array",

[2022-01-20 12:03] daniele-pecora commented on #425
Thx.
U like to create a PR?

[2022-01-27 08:53] AleksaDursun opened #431 "Visible If not working if value is [0]"
When my `selectField` value is 0 the schema does not render the fields that have `visibleIf: {selectField: [0]}`.
This is the code in my schema.
`{
        type: 'array',
        title: 'Columns',
        items: {
          type: 'object',
          properties: {
            color: {
              type: 'string',
              description: 'Color',
              widget: 'color-picker',

[2022-02-08 18:23] daniele-pecora commented on #431
I've created a (working example on Stackblitz (click)](https://stackblitz.com/edit/angular-ivy-uxq4oy?file=src/app/test-schema.json) for your schema:
[code]

[2022-02-09 12:47] AleksaDursun commented on #431
That is the workaround I found as well, but the issue still persists. If the value is equal to 0 (number zero) it does not work.

[2022-07-01 08:31] davidstrahm opened #439 "Add support for Angular 14"
Some peer dependencies are not working anymore with npm 8. As a temporary workaround, add this to your package.json

[code]

[2022-07-11 11:12] KBroichhausen commented on #431
Got the same problem.
As far as I can tell it's related to this line:
https://github.com/guillotinaweb/ngx-schema-form/blob/f80c7a5b0646828dc3ab16973c0f3ecbf938467a/projects/schema-form/src/lib/model/formproperty.ts#L252

The truth value of variable `value` is false if it is equal to the number 0 and double negation still makes it false. This is probably to check if there is no `null` or `undefine

[2022-07-14 18:50] brayanmf opened #443 "when adding my angular 14.0.6 project > npm install ngx-schema-form --save"
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: inspecciones@0.0.0
npm ERR! Found: @angular/common@14.0.6
npm ERR! node_modules/@angular/common
npm ERR!   @angular/common@"^14.0.6" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer @angular/common@"^13.1.1" from ngx-schema-form@2.7.1
npm ERR! node_module

[2022-07-15 07:40] #443 closed

[2022-07-15 07:44] ebrehault commented on #443
Fixed in version 2.8.0 (providing Angular 14 compliancy)

[2022-07-20 14:01] krishna217 commented on #443
@ebrehault still the peer dependencies say `v13` https://github.com/guillotinaweb/ngx-schema-form/blob/master/projects/schema-form/package.json#L30

[2022-07-20 14:17] ebrehault commented on #443
oh right! let me fix that

[2022-07-20 14:52] ebrehault commented on #443
fixed in 2.8.1

[2022-07-21 09:15] KBroichhausen opened #445 ""visibleIf" with nothing vs. "oneOf""
I have an object `Object 2` which only should be visible if:
`Field 1` is equal to value `Value 1`
or `Field 2` is equal to value `1`.

Now, add some extra: `Field 2` is only visible if `Field 1` is equal to `Value 2` or `Value 3`.

This simply means that `Object 2` is mandatory for `Value 1` and is optional for `Value 2` and `Value 3`, which can be toggled via `Field 2`.

Sounds too complicated..

[2022-08-09 07:54] JensenLenard opened #447 "Support for draft 2020-12 array syntax"
In the latest json schema draft the syntax has changed for arrays and how additional items are being defined.
See: https://json-schema.org/draft/2020-12/release-notes.html

As I did not find an open issue regarding that, I wanted to ask if there is currently work being done to support the new syntax, or if it's still open. Alternatively I wanted to ask if there is a workaround to use this draft ve

[2022-08-24 17:48] iamtomcat commented on #439
Now all you need to add is

[2022-10-14 09:40] krishna217 opened #451 "are dependent fields in JSON schema supported ?"
@daniele-pecora Do this library support [dependent fields in JSON schema](https://json-schema.org/understanding-json-schema/reference/conditionals.html) ?

[2022-10-16 15:24] daniele-pecora commented on #451
Hi I just built an example at Stackblitz:
https://stackblitz.com/edit/ngx-schema-form-template-dependentrequired?file=src%2Fapp%2Fapp.component.ts,src%2Fapp%2Fmyform%2Fschema-form.json

As you can see it is unfortunately not supported for now.

[2022-10-19 04:59] krishna217 commented on #451
thanks for the quick check

[2022-11-01 22:51] aharaguchi opened #456 "visibilityIf no longer works with multiple Select widgets"
We recently upgraded to `1.8.4` and noticed that our form schemas' conditionals are no longer working.
`1.8.1` seems alright, so I believe [this](https://github.com/guillotinaweb/ngx-schema-form/pull/446/commits/0589fd271b80eb55da0850277cd9c06e845e6307) is the PR that broke it.

**Expected Behaviour:**
When selecting multiple options from the Select widget, each option selected should cause corres

[2022-11-03 07:32] KBroichhausen commented on #456
Yeah, sorry. I introduced this bug by the feature. I already fixed it 17 days ago but it is not merged so far. See https://github.com/guillotinaweb/ngx-schema-form/pull/452

[2022-11-03 17:44] aharaguchi commented on #456
Ooo thank you so much @KBroichhausen , this is awesome! I saw your PR but wasn't able to find the time to look into exactly what was going wrong with the issue. Appreciate it.

[2022-11-10 17:56] dvelazquez1282 opened #459 "Type 'string' is not assignable to type 'TSchemaPropertyType | undefined'"
Hi. I have started to use this library and I am trying to use the doc example in my project but I receive this error:

Type '{ properties: { email: { type: string; description: string; format: string; widget: string;
}; }; }' is not assignable to type 'ISchema'.
  Types of property 'properties' are incompatible.
    Type '{ email: { type: string; description: string; format: string; widget: string

[2022-11-18 22:56] akanduru commented on #332
For me, this is working correctly when I  change input's attribute from `[attr.type]="'number'"` to `type="number"` in the template of IntegerWidget. (projects/schema-form/src/lib/defaultwidgets/integer/integer.widget.ts:17).

When I use type="number", the type of control's value is correctly interpreted as number. The other syntax gives string representation which is causing the problem. One woul